<section
  class="mb-5 mt-2"
  style="height: 80vh;display: flex;align-items: center;">
  <div class="container mb-5 mt-5">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <div id="mdb-lightbox-ui"></div>
        <div class="mdb-lightbox">
          <div class="row product-gallery mx-1">
            <div class="col-12 mb-0">
              <figure class="view overlay rounded z-depth-1 main-img">
                <a
                  href="/item/{{productitem.id}}"
                  data-size="710x823"
                >
                  <img
                    src="{{productitem.image}}"
                    class="img-fluid z-depth-1 rounded scale"
                    width="475px" 
                  />
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <h5>{{productitem.name}}</h5>
        <p class="mb-2 text-muted text-uppercase small">{{productitem.category}}</p>
        <p><span class="mr-1"><strong>₹{{productitem.price}}</strong></span></p>
        <p class="pt-1">{{productitem.description}}</p>
        <hr />
        <button type="button" style="margin-right: 20px;" onclick={addToCart('{{productitem.id}}')} class="btn btn-primary scale">Add to Cart</button>
        <a href="/buy/{{productitem.name}}/{{productitem.id}}" class="btn btn-primary scale">Buy Now</a>
      </div>
    </div>
  </div>
</section>
